@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <p>
        <br>
        <h2><span style = "color:darkgreen">Link to my pages go here :</span></h2><br/>
        <a target="_blank" href="~/TheMurrayMarsh">The Murray Marsh</a><br/><br/>
        <a target="_blank" href="~/USNuclearSafety">United States Senate Environment Subcommittee on Clean Air and Nuclear Safety</a><br/><br/>
        <a target="_blank" href="~/StalagB">Stalag VI-B</a><br/><br/>
    </p>
</body>