                @page
                @model StalagBModel
                @{
                }
                
                                
                <body>
                    <h1>Stalag VI-B</h1>
                    <a target = "_blank" href="https://en.wikipedia.org/wiki/Stalag_VI-B">Stalag VI-B</a>
                    <hr/>
                    <div>
                        <p>
                        <strong>Stalag VI-B</strong> was a <a href="https://en.wikipedia.org/wiki/Germany">
                        German</a> <a href="https://en.wikipedia.org/wiki/World_War_II">
                        </a>World War II <a href = "https://en.wikipedia.org/wiki/World_War_IIpri
                        soner-of-war camp"> prisoner-of-war </a> 
                            (Stammlager), located about 3 km (1.9 mi) east of the village of 
                            Versen in the Emsland district of Lower Saxony, in north-western Germany, 
                            close to the border with the Netherlands.<br>
                         <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Kamp_Versen_2-1.JPG/600px-Kamp_Versen_2-1.JPG" height = "200" width = "150"/>

                            </p>
                            <hr/>
                        <h2>Camp History</h2>
                    <p>
                    The camp was established in 1938 as <strong>Lager IX Versen</strong>,
                    one of the <em><a href="https://en.wikipedia.org/wiki/Emslandlager"> Emslandlager</a></em>
                    group of labour camps. It was designed to hold up 
                    to 1,500 political prisoners, who worked under the direction of the <em>
                    <a href ="https://en.wikipedia.org/wiki/Reichsarbeitsdienst">Reichsarbeitsdienst</a></em> 
                    ("State Labor Service") in the local peat bogs.[1] 
                    After the outbreak of World War II in September 1939 the camp was taken 
                    over by <a href ="https://en.wikipedia.org/wiki/Military_district_(Germany)"> Military 
                    District </a>  VI,[2] and designated Stalag VI-B, with sub-camps
                    (Zweiglager) — designated Stalag VI-B/Z — a few kilometres away at Oberlangen, 
                    Wesuwe and Fullen. On 13 May 1942 Stalag VI-B and its sub-camps all
                    came under the administrative control of Stalag VI-C at Bathorn, and were renamed 
                    Stalag VI-C/Z.<br>

                    The camps of Stalag VI-B were first occupied by prisoners-of-war taken 
                    during the invasion of Poland. In early 1940 these were replaced by POW from 
                    France and Belgium. In addition, there were Dutch, Polish, and later Russians
                        in the camps. After the armistice of 1943 Italian prisoners arrived.[2]<br>

                    From November 1944 prisoners from the 
                    <a href="https://en.wikipedia.org/wiki/Neuengamme_concentration_camp">Neuengamme</a>  concentration camp in 
                        Hamburg were housed at Versen to work on the Friesenwall, part of the Atlantic 
                    Wall between the Netherlands and Denmark.[4]<br>

                        The camps were abandoned in March 1945, and  the prisoners were
                        moved by train or marched east to other camps.[2]<br>


                    The camp at Versen was used after the war as a prison under the control of the
                    Lower Saxony Ministry of Justice. After a fire in 1972, much of the camp was 
                    rebuilt. It currently operates as Justizvollzugsanstalt Meppen ("Meppen 
                    Correctional Institution").[5]
                    </p>

                        <hr/>
                    <h3>See also</h3>
                    <hr>
                        </p>
                        <br>
                        <ul>
                        <li><a href="https://en.wikipedia.org/wiki/List_of_prisoner-of-war_camps_in_Germany">List of prisoner-of-war camps in Germany</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/List_of_subcamps_of_Neuengamme">List of subcamps of Neuengamme</a></li>
                        
                        </ul>
                    <hr/>
                    <hr/>

                    <dl>
                        <dt>Type</dt>  
                        <dd>Prisoner-of-war camp</dd>

                        <dt>Controlled By</dt>
                        <dd>Nazi Germany</dd>

                        <dt>In Use</dt>
                        <dd>1939-1945</dd>
                    </dl>
                    <br>
                    <hr />

                    <h3>References</h3>
                    <hr>
                    <ol>
                        <li> "<a href="https://web.archive.org/web/20121231084351/http://www.diz-emslandlager.de/lager/lager09.htm">Das Lager IX (Versen)"</a>. diz-emslandlager.de (in German). 2004. Archived from the original on 31 December 2012. Retrieved 16 May 2012.</li><br>
                        <li> Tegge, Manfred (2012). "Stalag VI-B Versen". relikte.com (in German). Retrieved 16 May 2012.</li>
                        
                    
                    </div>
                

                </body>