        @page
        @model TheMurrayMarshModel
        @{
        }
            
        <body>
        <h1>The Murray Marsh</h1>
        <a target = "_blank" href="https://en.wikipedia.org/wiki/The_Murray_Marsh">The Murray Marsh</a>
        <hr/>
        <div>
            The <strong>Murray Marsh</strong>, also known as the <strong>Big Murray Swamp</strong>,
            is an <a href="https://en.wikipedia.org/wiki/Ecology">ecologically</a> important 
            <a href="https://en.wikipedia.org/wiki/Wetland">wetland</a> on the
            <a href="https://en.wikipedia.org/wiki/Trent_River_(Ontario)">Trent River</a> 
            in <a href="https://en.wikipedia.org/wiki/Northumberland_County,_Ontario">Northumberland County</a>, Ontario, Canada. 
            At 4850 <a href="https://en.wikipedia.org/wiki/Hectare">hectares</a> (12,125 <a href="https://en.wikipedia.org/wiki/Acre">acres</a>),
            this is the largest expanse of unspoiled wetland in southeastern Ontario.<br/> <br/>
            <p>
        Lying south of <em>Percy Reach, the marsh extends 8.75 kilometres southward</em> from the Reach to a point 3.3 kilometres 
        northwest of Wooler, Ontario. It sweeps in an irregular arc between Percy Boom (44 degs, 14 mins North; 77 degs, 48 mins West)
        in the west and German's Landing (44 degs, 16 mins, North; 77 degs, 40 mins West) in the east. 
        These two points are located approximately 10.8 kilometres apart.
            </p>
        Vegetation consists of wooded swamp, thicket swamp and lowland 
        <a href="https://en.wikipedia.org/wiki/Deciduous_forest">deciduous</a> forest interrupted by ridges, islands and open water. More than 150 bird species including migrating waterfowl use the marsh as a feeding and nesting site. A heronry is located in a meadowland in the northwest area of the marsh and a large deer yard is situated in the wetland.
        </div>
        <h3>References<a href="https://en.wikipedia.org/w/index.php?title=The_Murray_Marsh&action=edit&section=1"><small>[edit]</small></a></h3>
        <hr/>
        <ul>
            <li><a href="http://nhic.mnr.gov.on.ca/areas/areas_report.cfm?areaid=1455">Ontario Natural Heritage Information Centre[dead link]</a></li>
            <li><a href="http://www.quintewesttourism.ca/content.php?id=11">Quinte West Ontario- tourism, events, information</a></li>
            <li>Topographical Map, Dept. of Energy, Mines and Resources, Ottawa (published 1982)</li>

        </ul>
        <div>
        <hr/>
        <hr/>
        <h3>External Links</h3>
        <ul>
            <li><a href="http://www.ltc.on.ca/conservation/nha/#mm">Lower Trent Conservation: Murray Marsh</a></li>
            
        </ul>
        <hr/>

        </body>