    @page
    @model USNuclearSafetyModel
    @{
    }
        
                <img src = "" />
            <body>
            <h1>United States Senate Environment Subcommittee on Clean Air and Nuclear Safety</h1>
            <a target = "_blank" href="https://en.wikipedia.org/wiki/United_States_Senate_Environment_Subcommittee_on_Clean_Air_and_Nuclear_Safety">United States Senate Environment Subcommittee on Clean Air and Nuclear Safety</a>
            <hr/>
            <div>
                <p>
                <strong>The U.S. Senate Environment and Public Works Subcommittee on Clean Air and 
                Nuclear Safety</strong> is one of four subcommittees of the U.S. Senate Committee 
                on Environment and Public Works.
                    </p>
                    <hr/>
                <h2>History</h2>
            <p>
            The subcommittee was formerly known as the <strong> Subcommittee on Clean Air, 
            Climate Change, and Nuclear Safety</strong>, but was renamed during committee 
            organization<br> of the 110th Congress, after responsibility over 
            <a href="https://en.wikipedia.org/wiki/Global_warming">global warming</a> 
            issues transferred to the <a href="https://en.wikipedia.org/wiki/United_States_S
            enate_Environment_and_Public_Works_Subcommittee_on_Private_Sector_and_Consumer_S
            olutions_to_Global_Warming_and_Wildlife_Protection">Subcommittees on Public Sector Solutions 
            and Subcommittee on Private<br>Sector Solutions to Global Warming</a>.
            The subcommittee still retains some inherent oversight over global warming 
            issues due to its jurisdiction over the federal Clean Air Act.

            </p>

    
                <hr/>
            <h3>Jurisdiction</h3>

                </p>
                The subcommittee's jurisdiction includes:<br>
                <ol>
                <li><a href="https://en.wikipedia.org/wiki/United_States_Senate_Environment_Subcommittee_on_Clean_Air_and_Nuclear_Safety#History">History</a></li>
                <li><a href="https://en.wikipedia.org/wiki/United_States_Senate_Environment_Subcommittee_on_Clean_Air_and_Nuclear_Safety#Members,_115th_Congress">Members, 115th Congress</a></li>
                <li><a href="https://en.wikipedia.org/wiki/United_States_Senate_Environment_Subcommittee_on_Clean_Air_and_Nuclear_Safety#Members,_115th_Congress">Members, 115th Congress</a></li>
                <li><a href="https://en.wikipedia.org/wiki/United_States_Senate_Environment_Subcommittee_on_Clean_Air_and_Nuclear_Safety#Members,_115th_Congress">Members, 115th Congress</a></li>
                </ol>
                   <hr/>
            <h3>Members, <a href="https://en.wikipedia.org/wiki/115th_Congress">115th Congress</a></h3>
                <table border=1>
                <thead>
                    <tr>
                        <th>     Majority    </th>
                        <th>Minority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a href="https://en.wikipedia.org/wiki/Shelley_Moore_Capito">Shelley Moore Capito</a>,West Virginia,Chairwoman</td>
                        <td><a href="https://en.wikipedia.org/wiki/Tom_Carper">Tom Carper</a>, Delaware, Ranking Member</td>
                    </tr>
                    <tr>
                    <td> <a href="https://en.wikipedia.org/wiki/Jim_Inhofe">Jim Inhofe</a>,West Virginia,Chairwoman</td>
                        <td><a href="https://en.wikipedia.org/wiki/Ben_Cardin">Ben Cardin</a>, Delaware, Ranking Member</td>
                    </tr>
                    <tr>
                    <td> <a href="https://en.wikipedia.org/wiki/John_Boozman">John Boozman</a>,West Virginia,Chairwoman</td>
                        <td><a href="https://en.wikipedia.org/wiki/Bernie_Sanders">Bernie Sanders</a>, Delaware, Ranking Member</td>
                    </tr>
                    
                </tbody>



            </table>

            </div>
            

            </body>